.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
  margin: 80px 170px;
}

.skills-title {
  position: relative;
}

.skills-title h1 {
  padding: 0px 30px;
  font-size: 80px;
  font-weight: 600;
}

.skills-title img {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.skills-container {
  display: flex;
  gap: 100px;
  width: 100%;
  justify-content: center;
}

.skills-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.skills-section h3 {
  font-size: 28px;
  font-weight: 600;
  background: linear-gradient(270deg, #df8908 10%, #b415ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
}

.skills-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.skills-list li {
  font-size: 20px;
  color: #ffffff;
  padding: 12px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  transition: 0.3s;
  cursor: pointer;
}

.skills-list li:last-child {
  border-bottom: none;
}

.skills-list li:hover {
  color: #ff00ff;
  padding-left: 10px;
  transform: translateX(5px);
}

@media (max-width: 768px) {
  .skills {
    gap: 50px;
    margin: 50px 70px;
    align-items: start;
  }

  .skills-title h1 {
    padding: 0;
    font-size: 50px;
    font-weight: 600;
  }

  .skills-title img {
    width: 130px;
    right: -20px;
  }

  .skills-container {
    flex-direction: column;
    gap: 50px;
  }

  .skills-section h3 {
    font-size: 24px;
  }

  .skills-list li {
    font-size: 18px;
  }
}
