.footer {
  margin: 50px 170px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.footer-logo {
  height: 150px; /* adjust size as needed */
  width: auto;
  border-radius: 10px; /* rounded corners */
  transition:
    transform 0.3s,
    filter 0.3s;
  cursor: pointer;
  filter: brightness(0) invert(0);
}

:root[data-theme='dark'] .footer-logo {
  filter: brightness(0) invert(1);
}

.footer-top {
  display: flex;
  justify-content: space-between;
}

.footer-left p {
  font-size: 20px;
  max-width: 400px;
}

.footer-top-right {
  display: flex;
  align-items: center;
  gap: 35px;
}

.footer-email-input {
  display: flex;
  gap: 30px;
  padding: 20px 30px;
  border-radius: 50px;
  background: var(--card-bg);
  padding-right: 80px;
  border: 2px solid var(--border-color);
}

.footer-email-input input {
  outline: none;
  border: none;
  background: transparent;
  color: var(--text-secondary);
  font-family: Outfit;
  font-size: 18px;
  opacity: 0.9;
}

.footer-subscribe {
  font-size: 20px;
  padding: 22px 50px;
  border-radius: 50px;
  background: linear-gradient(264deg, #df8908 -5.09%, #b415ff 100%);
  cursor: pointer;
  transition: 0.3s;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}

.footer-bottom-right {
  display: flex;
  gap: 50px;
  margin-bottom: 50px;
}

.footer-email-input:hover {
  border: 2px solid var(--text-primary);
}

.footer-subscribe:hover {
  transform: scale(1.1);
  transition: 0.3s;
}
@media (max-width: 768px) {
  .footer-logo {
    height: 100px; /* adjust size as needed */
  }

  .footer {
    margin: 50px 70px;
  }
  .footer-top {
    flex-direction: column;
    gap: 50px;
  }
  .footer-bottom {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 50px;
  }
}
